html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
}

.Sample header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.Sample header h1 {
  font-size: 1.25rem;
  margin: 0;
}

.Sample__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #1f2937;
  

}


.Sample__container > * > * {
  margin: 10px;
}

.Sample__container__content {
  max-width: 100%;
  align-items: stretch;
  padding-top: 1em; 
  
}


.Sample__container__content .react-calendar{
  margin: 0 auto;
  border: 0;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.Sample__container__content .react-calendar button{

  border-radius: 5px;
  border: 0;
  color: white;
  padding: 2px 0;
  &:hover {
    background-color: #1d1f22;
  }
 
}
  .react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.4;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-shadow: none;
  }

 .react-calendar__navigation  {
  text-align: center;
 
  
  .react-calendar__navigation__label{
    font-weight: bold;
    
  }
  .react-calendar__navigation__arrow {
    flex-grow: 0.333;
    height: 40px;
    width: 40px;
  }
 
}
  button {
    border-radius: 3px;
    padding: 5px 0;
    
    &:hover {
      background-color: #20242b;
    }
    &:active{
      background-color: blue;
    }
  }

  .react-calendar__tile--range {
    box-shadow: 0 0 6px 2px black;
}
@media screen and (max-width:1000px) {

  .react-calendar__navigation{
    .react-calendar__navigation__label{
      width: 50%;
      
    }
    .react-calendar__navigation__arrow {
      height: 30px;
      width: 30px;
    }
  }
  .react-calendar__month-view__weekdays {
    text-align: center;

  }
  
}


.react-calendar__tile--now {
  background-color: rgb(37 99 235) !important;
}
